<h1 class="mt-5">Seja bem-vindo ao desafio AllBlacks</h1>
<p class="lead">
    Este sistema foi desenvolvido por Ana Flávia Carvalho, com base nos requisitos propostos pela
    equipe AllBalcks da P21Sistemas.
</p>
<p><a href="https://gist.github.com/p21sistemas/c66b07bb0c30de898642aeb0f9fdb4f0" target="_blank">Link para a descrição
        dos requisitos </a></p>


<p><a href="https://github.com/cokita/desafioAllBlack/blob/master/Curriculo%20-%20Ana%20Fl%C3%A1via%20Carvalho.pdf"
        target="_blank">Link para o currículo </a></p>

<h2 class="mt-5">Dados para contato:</h2>
<p>Nome: Ana Flávia Araújo Lima Pinto de Carvalho</p>
<p>Telefone: (61) 9 9618-0178</p>
<p>E-mail: anaflavia.alpc@gmail.com</p>

<p>Agradeço antecipadamente pela atenção e obrigada pela oportunidade!</p>
